<mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

    <div fxLayout="row" fxLayoutAlign="end center" fxHide fxShow.gt-xs>
      <a mat-button>SENADO DE LA REPÚBLICA</a>
      <span>&bull;</span>
      <a mat-button
         href="https://www.google.com.mx/maps/place/Senado+de+la+Rep%C3%BAblica/@19.4320671,-99.1574131,357m/data=!3m1!1e3!4m7!1m4!3m3!1s0x85d1ff33278fa7d7:0xe9868b5310112cd!2sAv+de+los+Insurgentes+Sur+%26+Paseo+de+la+Reforma,+Tabacalera,+06030+Ciudad+de+M%C3%A9xico,+D.F.!3b1!3m1!1s0x0000000000000000:0x14ac4d62ed85ec1f!6m1!1e1"
         target="_blank">Av. Paseo de la Reforma 135, esq. Insurgentes Centro, Colonia Tabacalera, Alcaldía Cuauhtémoc,
        Ciudad de México C.P. 06030</a>
      <span>&bull;</span>
      <a mat-button>Teléfono: 5345 3000 y 5130 2200</a>
    </div>

  </div>

</mat-toolbar>
