<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <!-- HEADER -->
  <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="h1">Legislaturas</div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24 mx-40">

    <mat-progress-bar color="primary"
                      mode="indeterminate">
    </mat-progress-bar>

    <mat-card>
      <button mat-fab class="add-event-button mat-accent senado-table-button" (click)="agregarLegislatura()" aria-label="Agrega espacio" matTooltip="Agregar" matTooltipPosition="left">
        <mat-icon>add</mat-icon>
      </button>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
        </ng-container>

        <!-- Opciones -->
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef class="w-10-p"> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button matTooltip="Editar" matTooltipPosition="left" color="primary" (click)="EditarLegislatura(element)">
              <mat-icon class="secondary-text" color="primary">edit</mat-icon>
            </button>
            <button mat-button matTooltip="Eliminar" matTooltipPosition="right" color="warn" *ngIf="element.activo === true" (click)="deshabilitar(element.id)">
              <mat-icon class="secondary-text" color="warn">delete</mat-icon>
            </button>
            <button mat-button matTooltip="Activar" matTooltipPosition="right" color="accent" *ngIf="element.activo === false" (click)="habilitar(element)">
              <mat-icon class="secondary-text" color="accent">restore_from_trash</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 20, 40, 80, 100]" (page)="changePage()" showFirstLastButtons></mat-paginator>
    </mat-card>

  </div>
  <!-- / CONTENT -->

</div>



