<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{titulo}}</span>
      <button mat-icon-button (click)="dialogo.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar color="primary" mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
    <form [formGroup]="rolForm">

      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nombre</mat-label>
          <input name="nombre" formControlName="nombre" matInput required maxlength="50">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Descripción</mat-label>
          <input name="descripcion" formControlName="descripcion" matInput required maxlength="200">
        </mat-form-field>
      </div>

    </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

    <button mat-button class="save-button" (click)="dialogo.close()" aria-label="Close dialog">
      Cancelar
    </button>

    <button *ngIf="accion === 'edit'"
            mat-button
            class="mr-8"
            (click)="dialogo.close(['delete',rolForm])"
            aria-label="Delete"
            matTooltip="Delete">
      Eliminar
    </button>

    <button *ngIf="accion !== 'editar'"
            mat-button
            class="save-button"
            (click)="agregarNuevo(rolForm)"
            [disabled]="rolForm.invalid"
            aria-label="SAVE">
      Agregar
    </button>

    <button *ngIf="accion === 'editar'"
            mat-button
            class="save-button"
            (click)="modificar(rolForm)"
            [disabled]="rolForm.invalid"
            aria-label="SAVE">
      Guardar
    </button>

  </div>
</div>
