<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <!-- HEADER -->
  <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="h1">Comisiones</div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24 mx-40">

    <div *ngIf="progressBar">
      <mat-progress-bar color="primary"
                        mode="indeterminate">
      </mat-progress-bar>
    </div>

    <mat-card>
      <button mat-fab class="add-event-button mat-accent senado-table-button" (click)="agregarCom()" aria-label="Agrega comisiones" matTooltip="Agregar" matTooltipPosition="left">
        <mat-icon>add</mat-icon>
      </button>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z0">

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>

        <!-- Ubicación Column -->
        <ng-container matColumnDef="nombreUbicacion">
          <mat-header-cell *matHeaderCellDef> Ubicación </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombreUbicacion}} </mat-cell>
        </ng-container>

        <!-- Legislatura Column -->
        <ng-container matColumnDef="nombreLegislatura">
          <mat-header-cell *matHeaderCellDef> Legislatura </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombreLegislatura}} </mat-cell>
        </ng-container>

        <!-- Tipo Comision Column -->
        <ng-container matColumnDef="nombreTipo">
          <mat-header-cell *matHeaderCellDef> Tipo Comisión </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombreTipo}} </mat-cell>
        </ng-container>

        <!-- Opciones -->
        <ng-container matColumnDef="opciones">
          <mat-header-cell *matHeaderCellDef class="w-10-p"> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button matTooltip="Editar" matTooltipPosition="left" color="primary" (click)="modificarCom(element)">
              <mat-icon class="secondary-text" color="primary">edit</mat-icon>
            </button>

            <div *ngIf="element.activo">
              <button mat-button matTooltip="Eliminar" matTooltipPosition="right" color="warn" (click)="deshabilitar(element.id)">
                <mat-icon class="secondary-text" color="warn">delete</mat-icon>
              </button>
            </div>
            <div *ngIf="!element.activo">
              <button mat-button matTooltip="Activar" matTooltipPosition="right" color="accent" (click)="habilitar(element)">
                <mat-icon class="secondary-text" color="accent">restore_from_trash</mat-icon>
              </button>
            </div>
            <button mat-button (click)="adminUsr(element)" matTooltip="Administrar usuarios" matTooltipPosition="right">
              <mat-icon>assignment_ind</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 20, 40, 80, 100]"  showFirstLastButtons></mat-paginator>
    </mat-card>

  </div>
  <!-- / CONTENT -->

</div>


